h1 {
    font-size: 1rem;
}

button{
    font-size: 1rem; 
}

.todo-card{
    list-style-type: none;
    margin: 1rem;
    padding: 1rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;

    
}